*{
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
/* --------------------top-section-------------------- */
#top-section{
  background-image: linear-gradient(rgba(18, 18, 18, .7) 100%, rgba(18, 18, 18, .7) 100%), url(img/1.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#top-section div{
  margin-top: 200px;
  margin-left: 70px;
  position: absolute;
}
#top-section div h1{
  font-size: 50px;
  color: #fff;
}
#top-section div h1 span{
  color: #FB5B21;
}
#top-section div p{
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 10px 0;
}
#top-section div a{
  margin: 5px 0;
  padding: 12px 20px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #FB5B21;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
}
/* --------------------section-2-------------------- */
#section-2{
  margin: 80px 0;
}
#section-2 h1{
  text-align: center;
  font-size: 40px;
}
#section-2 .box{
  margin: 50px 80Px;
  display: flex;
  justify-content: space-between;
}
#section-2 .box-size{
  text-align: left;
  border-radius: 10px;
  padding: 35px 50px;
  background-color: #FB5B21;
  margin: 0 10px;
}
.box-size h2{
  margin: 10px 0;
}
.box-size p{
  font-weight: 400;
  margin: 10px 0;
}
.box-size a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.box-size a:hover{
  color: rgb(92, 92, 92);
}
/* --------------------section-3-------------------- */